h2 {
    color: blue;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}
.image {
    border-radius: 25px;
    padding: 5px;
}
body {
    background-color: lightgrey;
}
input {
    text-align: center;
    font-family: arial;
    color: blue;
}
